venv/
.env/
.env*/

__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/
*.swp
*.swo

*.log
*.tmp
*.bak

*.db
*.sqlite3
*.env
*.ini
*.cfg

dist/
build/
*.egg-info/

.ipynb_checkpoints/

.DS_Store
Thumbs.db